header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo-div {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
} */

/* .logo-text {
  font-weight: 500;
  font-size: 25px;
  font-family: "Black Ops One", system-ui;
}

/* Mobile responsiveness */
/* @media (max-width: 768px) {
  .logo-text {
    font-size: 20px;
  }
} */

/* @media (max-width: 480px) {
  .logo-text {
    font-size: 18px;
  }
}  */
